.header {
    margin: auto;
}

.title {
    text-align: center;
    font-size: 70px;
    margin: 0;
    margin-top: 50px;
}

.create {
    width: 550px;
    text-align: center;
    margin: 20px auto;
}

.create-input {
    font-size: 20px;
    width: 80%;
    border: none;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.create-input:focus {
    outline: none;
    background-color: #D6DBDF;
}

.create-btn-add {
    border: none;
    background-color: #34495E;
    font-size: 20px;
    height: 48px;
    width: 35px;
    border-radius: 5px;
    padding: 0;;
    color: white;
}

.create-btn-add:focus {
    outline: none;
}

.create-btn-add:active {
    background-color: #798da3;
}
